@font-face {
    font-family: 'Belgrano';
    src: url(/fonts/Belgrano-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }


$colores: #2E2F38, #FFFFFF, #8E8E8E, #FA504D; // Valores separados con comas
$fondos:  #FFFFFF, #FA504D, #2E2F38;


$font-title: "Belgrano", serif;
$font-normal: "Poppins", sans-serif;

@mixin button() {
    display: flex;
    padding: 16px 26px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    flex-shrink: 0;
    background-color: nth($fondos , 2);
    border: 0px;
    a{
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: nth($colores,2);

    }
    &:hover {
        background-color: darken(nth($fondos,2), 0.2);
    }
  }
html{
    background: linear-gradient(to right, nth($fondos,1) 1080px, nth($fondos,3) 1080px);
}
header{
    width: 1920px;
    height: 120px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    img{
        margin-top: 33px;
        margin-left: 160px;
        margin-bottom: 41px;
    }

    nav{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 46px;
        margin-left: 153px;
        margin-bottom: 47px;
        ul{
            padding: 0px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: flex-start;
            gap: 56px;
            margin: 0px;
            a{
                color: nth($colores,1);
                text-decoration: none;
                font-family: $font-normal;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
    aside{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 27px;
        margin-top: 36px;
        margin-left: 630px;
        margin-bottom: 36px;
        a{
            color: nth($colores, 2);
            font-family: $font-normal;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration: none;
        }
        button{
            @include button();
            display: flex;
            width: 140px;
            height: 48px;
            padding: 8px;
            gap: 8px;
            flex-shrink: 0;
        }
    }

}

main{
    width: 1920px;
    display: grid;
    grid-template-columns: 1080px 840px;
    grid-template-rows: auto auto; 
    grid-template-areas: 
        "hero ."
        "featured aside";
    background-image: url(/img/image.png);
    background-position: top 32px left 1130px;
    background-size: 650px 650px;
    background-repeat: no-repeat;
    div.hero{
        grid-area: hero;
        width: 920px;
        height: 444px;
        flex-shrink: 0;
        margin-top: 80px;
        margin-left: 160px;
        h1{
            width: 920px;
            color: nth($colores ,1);
            font-family: $font-title;
            font-size: 72px;
            font-style: normal;
            font-weight: 400;
            line-height: 96px; /* 133.333% */
            margin: 0px;
            padding: 0px;
        }
        p.subtitulo{
            width: 648px;
            color: nth($colores ,3);
            font-family: $font-normal;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px; /* 166.667% */
            margin: 0px;
            padding: 0px;
        }
        div.buttons{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-top: 40px;
            button.mainbutton{
                @include button();
                width: 240px;
                height: 60px;
                a{
                    color: nth($colores , 2);
                    font-family: $font-normal;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
    
            }
            button.sidebutton{
                width: 160px;
                height: 40px;
                flex-shrink: 0;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;
                border: 0px;
                background-color: nth($fondos, 1);
                margin-left: 32px;
                a{
                    color: nth($colores, 1);
                    font-family: $font-normal;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-decoration-line: underline;
                }
                img{
                    width: 40px;
                    height: 40px;
                    flex-shrink: 0;
                }
            }
        }
        
    }
    section.featured{
        grid-area: featured;
        width: 848px;
        height: 305px;
        flex-shrink: 0;
        margin-left: 160px;
        margin-top: 74px;
        margin-bottom: 57px;
        h2{
            color: nth($colores, 1);
            font-family: $font-title;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0px;
            padding: 0px; 
        }
        div.framework{
            width: 408px;
            height: 240px;
            display: flex;
            justify-content: space-between;
            margin-top: 24px;
            article{  
                width: 408px;
                height: 240px;
                flex-shrink: 0;
                img{
                    width: 392px;
                    height: 224px;
                    border: 1px solid nth($colores, 3);
                    padding: 4px;
                }
            }

        }
    }
    aside{
        grid-area: aside;
        margin-left: 72px;
        margin-top: 50px;
        margin-bottom: 52px;
        div.details{
            width: 544px;
            height: 171px;
            flex-shrink: 0;
            background: nth($fondos, 1);
            backdrop-filter: blur(2px);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto; 
            grid-template-areas: 
                "text . price"
                "button button button";
            padding: 32px;
            div.text{
                grid-area: text;
                display: flex;
                align-items: center;
                align-self: flex-start;
                gap: 16px;
                img{
                    width: 63px;
                    height: 64px;
                }
                div{
                    width: 147px;
                    height: 67px;
                    p{
                        color: nth($colores ,3);
                        font-family: $font-normal;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin: 0px;
                        padding: 0px;
                    } 
                    h2{
                        color: nth($colores , 1);
                        font-family: $font-normal;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        margin: 0px;
                        padding: 0px;
                        margin-top: 4px;
                    }
                }
            }
            div.price{
                grid-area: price;
                display: flex;
                flex-direction: column;
                margin-left: 50px;
                width: 101px;
                height: 67px;
                flex-shrink: 0;
                gap: 4px;
                p{
                    color: nth($colores ,3);
                    font-family: $font-normal;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin: 0px;
                    padding: 0px;
                } 
                h2{
                    color: nth($colores , 1);
                    font-family: $font-normal;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin: 0px;
                    padding: 0px;
                    margin-left: 9px;
                }
            }
            div.button{
                grid-area: button;
                display: flex;
                margin-top: 24px;
                padding-top: 32px;
                border-top: 1px solid black;
                button.mainbutton{
                    @include button();
                    display: flex;
                    width: 264px;
                    height: 48px;
                    justify-content: center;
                    align-items: center;
                    a{
                        color: nth($colores, 2);
                        font-family: $font-normal;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        margin: 0px;
                        padding: 0px;
                        margin-bottom: 10px;
                    }
                }
                button.sidebutton{
                    display: flex;
                    width: 264px;
                    height: 48px;
                    padding: 16px 26px;
                    justify-content: center;
                    align-items: center;
                    gap: 14px;
                    flex-shrink: 0;
                    background-color: rgba(255, 255, 255, 0);
                    border: 0px;
                    a{
                        color: nth($colores, 4);
                        font-family: $font-normal;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        text-decoration: none;
                    }
                }
            } 
        }
        div.number{
            display: inline-flex;
            align-items: flex-start;
            gap: 72px;
            margin-top: 40px;
            margin-left: 7px;
            height: 48px;
            width: 600px;
            ul{
                padding: 0px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                list-style: none;
                justify-content: flex-start;
                gap: 72px;
                margin: 0px;
   
                p{
                    color: nth($colores , 2);
                    font-family: $font-normal;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    height: 48px;
                    margin: 0px;
                    padding: 0px;
                    span{
                        color: nth($colores , 4);
                        font-family: $font-normal;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        margin-right: 8px;
                    }
                }
                
            }
        }
    }
}


